/Herencia/nbproject/private/
/Herencia/build/
/Herencia/dist/
/SumaMultiplos3y7/nbproject/private/
/SumaMultiplos/nbproject/private/
/SumaMultiplos/build/
/SumaMultiplos/dist/
/EstructurasDeDatos/dist/
/PilasColasListas/nbproject/private/
/PilasColasListas/build/